::-webkit-scrollbar {
    display: none;
}

body {
    background: #ff60dd;
    font-family: 'DFKai-sb', serif;
}

.header {
    text-align: center;
    font-size: 48px;
    background-color: #4c00ff;
    color: #ffff00;
}

.body {
    width: 70%;
    height: 600px;
    float: left;
}

.image-container {
    width: 75%;
    max-width: 75%;
    max-height: 0;
    padding-bottom: 50%;
    background-image: url('../img/bg001.jpg');
    margin: 0 auto;
    background-size: 100% 100%;
}

.text-container {
    position: relative;
    display: block;
    max-width: 100%;
}

.text-editor {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 2px 10px 2px 2px;
    color: #fff;
    min-width: 0%;
    overflow: auto;
    white-space: nowrap;
}

.text-editor:hover, .text-editor:focus {
    outline: none;
    padding: 0px 8px 0px 0px;
    border: 2px dotted #fff;
}

.text-popup {
    display: none;
    position: absolute;
    width: 249px;
    height: 63px;
    border: 1px solid #333;
    background-color: rgba(119, 119, 119, 0.95);
    grid-template-columns: repeat(8, 30px);
    grid-auto-rows: 30px;
    grid-gap: 1px;
    text-align: center;
}

.text-popup .toolbar-btn {
    background-color: rgb(236, 236, 236);
}

.text-popup .toolbar-btn:focus {
    background-color: rgb(192, 192, 192);
}

.text-popup .toolbar-btn img {
    height: 15px;
}

.text-popup #btn009 {
    background-color: #fff;
}

.text-popup #btn010 {
    background-color: #000;
}

.text-popup #btn011 {
    background-color: #f00;
}

.text-popup #btn012 {
    background-color: #ff0;
}

.text-popup #btn013 {
    background-color: #0f0;
}

.text-popup #btn014 {
    background-color: #0ff;
}

.text-popup #btn015 {
    background-color: #00f;
}

.text-popup #btn016 {
    background-color: #f0f;
}

.btn {
    display: block;
    margin: 0 auto;
    text-align: center;
    cursor: default;
}

.btn div {
    display: inline-block;
    vertical-align: top;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.sidebar {
    font-size: 24px;
    background: #d400ff;
    width: 30%;
    height: 600px;
    float: left;
    text-align: center;
}

.sidebar button {
    font-size: 15px;
}

.image-picker {
    width: 10%;
}

.image-picker img {
    width: 80%;
    padding: 10px;
    cursor: pointer;
}

.image-picker img:focus {
    border: 2px #ff0;
}

.canvas {
    display: none;
    text-align: center;
    background-color: #6f32ff;
    color: rgb(236, 236, 236);
}

.canvas span {
    font-size: 18px;
}

.footer {
    height: 60px;
    background-color: #4c00ff;
    font-family: 'PMingLiu', serif;
    color: #fff;
    text-align: center;
    line-height: 60px;
    box-shadow: 0 50vh 0 50vh #4c00ff;
}