.pressed {
    background-color: rgba(128, 128, 128, 0.8) !important;
    box-shadow: inset 1px 1px 2px 1px rgb(80, 80, 80);
}

.ft-kai {
    font-family: 'DFKai-sb', serif;
}

.ft-ming {
    font-family: 'PMingLiu', serif;
}

.ft-sm, .ft-md, .ft-lg {
    /* Adjust font size based on canvas using jQuery */
}

.ft-bd {
    font-weight: bold;
}

.ft-it {
    font-style: italic;
}

.ft-ul {
    text-decoration: underline;
}

.ft-white {
    color: #fff;
}

.ft-black {
    color: #000;
}

.ft-red {
    color: #f00;
}

.ft-yellow {
    color: #ff0;
}

.ft-green {
    color: #0f0;
}

.ft-cyan {
    color: #0ff;
}

.ft-blue {
    color: #00f;
}

.ft-magenta {
    color: #f0f;
}